Repository sholaj/vibotaj-website-revamp-rep: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, vitest-frontend

pytest-backend:
  name: Run backend tests (on backend changes)
  entry: bash -c 'cd tracehub/backend && pytest tests/ -x --tb=short -q'
  language: system
  pass_filenames: false
  stages:
  - commit

vitest-frontend:
  name: Run frontend tests (on frontend changes)
  entry: bash -c 'cd tracehub/frontend && npm run test -- --run'
  language: system
  pass_filenames: false
  stages:
  - commit

feat(shipments): add product type for compliance-based document requirements
  tracehub/backend/alembic/versions/20260109_0003_add_product_type.py
  tracehub/backend/app/models/shipment.py
  tracehub/backend/app/routers/shipments.py
  tracehub/backend/app/schemas/shipment.py
  tracehub/backend/app/services/compliance.py
  tracehub/backend/tests/test_shipments.py
  tracehub/frontend/src/components/CreateShipmentModal.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

fix(migrations): make migrations idempotent for baseline compatibility
  tracehub/backend/alembic/versions/20260109_0002_add_buyer_organization_id.py
  tracehub/backend/alembic/versions/20260109_0003_add_product_type.py
Due: none

fix(tests): add required product_type field to shipment tests
  tracehub/backend/tests/test_container_validation.py
  tracehub/backend/tests/test_shipment_creation_buyer.py
Due: pytest-backend

fix(tests): remove fixture teardown that conflicts with test cleanup
  tracehub/backend/tests/test_buyer_organizations.py
Due: pytest-backend

fix(tests): add product_type to frontend shipment creation tests
  tracehub/frontend/src/components/__tests__/CreateShipmentModal.test.tsx
Due: vitest-frontend

fix(tests): add product_type selection to frontend form submission tests
  tracehub/frontend/src/components/__tests__/CreateShipmentModal.test.tsx
Due: vitest-frontend

fix(ci): remove broken Python heredoc from staging workflow
  .github/workflows/deploy-staging.yml
Due: none

feat(ci): add reset_db option to production deploy workflow
  .github/workflows/deploy-production.yml
Due: none

chore(ci): remove reset_db options from deploy workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

feat(ci): add SSL certificate setup to production deployment
  .github/workflows/deploy-production.yml
Due: none

fix(frontend): enable SSL by mounting production nginx.conf
  tracehub/docker-compose.yml
  tracehub/frontend/Dockerfile
Due: none

feat(api): add PATCH and DELETE endpoints for shipments
  tracehub/backend/app/routers/shipments.py
Due: pytest-backend

feat(frontend): add shipment edit/delete functionality to dashboard
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/DeleteConfirmationModal.tsx
  tracehub/frontend/src/components/EditShipmentModal.tsx
  tracehub/frontend/src/pages/Dashboard.tsx
  tracehub/frontend/src/types/index.ts
Due: vitest-frontend

fix(frontend): display proper error messages instead of [object Object]
  tracehub/frontend/src/api/client.ts
Due: vitest-frontend

fix(backend+frontend): auto-inject organization_id and improve error messages
  tracehub/backend/app/routers/shipments.py
  tracehub/backend/app/schemas/shipment.py
  tracehub/frontend/src/api/client.ts
Due: pytest-backend, vitest-frontend

fix(security): add multi-tenancy filters to audit and document endpoints
  docs/_archive/TRACEHUB_STRUCTURE_ANALYSIS.md
  docs/_archive/pre-tracehub/completed-PHASE1_CHECKLIST.md
  docs/_archive/pre-tracehub/old-PHASE2_PLAN.md
  docs/_archive/pre-tracehub/old-architecture-overview.md
  docs/_archive/pre-tracehub/old-feature-prioritization.md
  docs/_archive/root-cleanup/00-PACKAGE-README.md
  docs/_archive/root-cleanup/HOSTINGER_CONFIG.md
  docs/_archive/root-cleanup/VIBOTAJ_TECHNICAL_AUDIT_REPORT.md
  docs/_archive/root-cleanup/claude_old.md
  docs/strategy/tracehub-poc-plan.md
  tracehub/backend/app/routers/audit.py
  tracehub/backend/app/routers/documents.py
  tracehub/backend/app/services/audit_log.py
  tracehub/docs/API_REFERENCE.md
  tracehub/docs/DATABASE_SCHEMA.md
  tracehub/docs/KNOWN_ISSUES.md
  tracehub/docs/_archive/DEPLOYMENT_QUICK_REFERENCE.md
  tracehub/docs/_archive/DEPLOYMENT_SETUP.md
  tracehub/docs/_archive/DEVOPS_GITOPS_PLAN.md
  tracehub/docs/_archive/DEVOPS_IMPLEMENTATION_SUMMARY.md
  tracehub/docs/_archive/DEVOPS_SPRINT_PLAN.md
  tracehub/docs/_archive/FRONTEND_IMPLEMENTATION_SUMMARY.md
  tracehub/docs/_archive/GITHUB_SECRETS.md
  tracehub/docs/_archive/PRODUCT_ROADMAP.md
  tracehub/docs/_archive/QUICKSTART.md
  tracehub/docs/_archive/README.deployment.md
Due: pytest-backend

feat(backend): add EUDR Horn & Hoof exemption and remove Party table
  tracehub/backend/alembic/versions/20260111_0001_drop_parties_table.py
  tracehub/backend/app/models/__init__.py
  tracehub/backend/app/models/party.py
  tracehub/backend/app/routers/eudr.py
Due: pytest-backend

feat(backend): deprecate legacy User schema and document DocumentStatus workflow
  tracehub/backend/app/models/document.py
  tracehub/backend/app/routers/auth.py
Due: pytest-backend

fix(backend): migrate schema columns to proper UUID FK constraints
  tracehub/backend/alembic/versions/20260111_0002_add_origin_verified_by_fk.py
  tracehub/backend/alembic/versions/20260111_0003_fix_document_content_validated_by.py
  tracehub/backend/alembic/versions/20260111_0004_notification_user_id_to_uuid.py
  tracehub/backend/app/models/document_content.py
  tracehub/backend/app/models/notification.py
  tracehub/backend/app/models/origin.py
  tracehub/backend/app/models/user.py
  tracehub/backend/app/routers/notifications.py
  tracehub/backend/app/services/notifications.py
Due: pytest-backend

feat(backend): implement buyer organization access control for shipments
  tracehub/backend/app/routers/shipments.py
  tracehub/backend/app/services/access_control.py
Due: pytest-backend

test(backend): add comprehensive multi-tenancy isolation tests
  tracehub/backend/tests/test_multi_tenancy.py
Due: pytest-backend

docs: update CHANGELOG v1.4.0 and KNOWN_ISSUES for Sprint 10-11
  tracehub/CHANGELOG.md
  tracehub/docs/KNOWN_ISSUES.md
Due: none

fix(tests): update test fixtures for schema changes
  tracehub/backend/tests/test_multi_tenancy.py
  tracehub/backend/tests/test_notifications.py
Due: pytest-backend

docs: clean up obsolete documentation and update roadmap
  tracehub/ROADMAP.md
  tracehub/docs/archive/API_INTEGRATION_PLAN.md
  tracehub/docs/archive/API_INTEGRATION_SUMMARY.md
  tracehub/docs/archive/README.md
  tracehub/docs/archive/sprint-8-multitenancy-api-spec.md
  tracehub/docs/sprints/SPRINT_BACKLOG_ARCHIVE.md
  tracehub/docs/sprints/sprint-8/SPRINT8_INDEX.md
Due: none

docs: update CLAUDE.md with Sprint 10-12 status
  CLAUDE.md
Due: none

feat: Sprint 12 - DateTime timezone + status validation + EUDR tests
  tracehub/backend/alembic/versions/20260111_0005_standardize_datetime_timezone.py
  tracehub/backend/app/models/audit_log.py
  tracehub/backend/app/models/organization.py
  tracehub/backend/app/models/reference_registry.py
  tracehub/backend/app/models/shipment.py
  tracehub/backend/app/models/user.py
  tracehub/backend/app/routers/shipments.py
  tracehub/backend/app/services/shipment_state_machine.py
  tracehub/backend/tests/test_eudr_compliance.py
  tracehub/docs/KNOWN_ISSUES.md
Due: pytest-backend

fix(tests): correct EUDR and audit log test assertions
  tracehub/backend/app/services/audit_log.py
  tracehub/backend/tests/test_eudr_compliance.py
Due: pytest-backend

fix(tests): correct EUDR response schema and audit endpoint path
  .gitignore
  tracehub/backend/app/routers/eudr.py
  tracehub/backend/tests/test_eudr_compliance.py
  tracehub/backend/tests/test_multi_tenancy.py
Due: pytest-backend

feat(sprint-13): implement organization member management
  tracehub/CHANGELOG.md
  tracehub/backend/app/config.py
  tracehub/backend/app/main.py
  tracehub/backend/app/routers/invitations.py
  tracehub/backend/app/routers/organizations.py
  tracehub/backend/app/schemas/__init__.py
  tracehub/backend/app/schemas/invitation.py
  tracehub/backend/app/services/__init__.py
  tracehub/backend/app/services/invitation.py
  tracehub/backend/app/services/org_permissions.py
  tracehub/backend/tests/test_invitations.py
  tracehub/docs/sprints/sprint-13/SPRINT13_PLAN.md
  tracehub/frontend/package-lock.json
  tracehub/frontend/package.json
  tracehub/frontend/src/App.tsx
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/organizations/InviteMemberModal.tsx
  tracehub/frontend/src/components/organizations/MemberManagementPanel.tsx
  tracehub/frontend/src/components/organizations/index.ts
  tracehub/frontend/src/pages/AcceptInvitation.tsx
  tracehub/frontend/src/pages/Login.tsx
  tracehub/frontend/src/pages/Organizations.tsx
  tracehub/frontend/src/types/index.ts
  tracehub/frontend/src/types/invitation.ts
Due: pytest-backend, vitest-frontend

feat(sprint-14): compliance feature hardening + fix cache invalidation
  tracehub/CHANGELOG.md
  tracehub/backend/alembic/versions/20260112_0001_add_eudr_origin_fields.py
  tracehub/backend/app/models/origin.py
  tracehub/backend/app/routers/documents.py
  tracehub/backend/app/routers/eudr.py
  tracehub/backend/app/services/audit_log.py
  tracehub/backend/app/services/compliance.py
  tracehub/backend/app/services/eudr.py
  tracehub/backend/app/services/pdf_generator.py
  tracehub/backend/app/services/satellite.py
  tracehub/docs/sprints/sprint-14/SPRINT_14_PLAN.md
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/pages/Analytics.tsx
  tracehub/frontend/src/pages/Dashboard.tsx
  tracehub/frontend/src/test/ApiClientCache.test.ts
Due: pytest-backend, vitest-frontend

fix(frontend): complete cache invalidation pattern fix (phase 2)
  tracehub/CHANGELOG.md
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/test/ApiClientCache.test.ts
Due: vitest-frontend

feat(devops): add Ralph autonomous development automation
  @AGENT.md
  @fix_plan.md
  PROMPT.md
Due: none

chore(devops): add Ralph state files to gitignore and tech debt tracker
  .gitignore
  docs/KNOWN_ISSUES.md
  tracehub/backend/tests/test_multi_tenancy_positive.py
Due: pytest-backend

fix(tech-debt): security fixes + frontend/backend alignment (Phases 1-3)
  PRPs/active/technical-debt-remediation.md
  tracehub/backend/app/routers/documents.py
  tracehub/backend/app/routers/shipments.py
  tracehub/backend/tests/test_documents.py
  tracehub/backend/tests/test_shipments.py
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/DocumentList.tsx
  tracehub/frontend/src/components/DocumentReviewPanel.tsx
  tracehub/frontend/src/components/EditShipmentModal.tsx
  tracehub/frontend/src/components/Layout.tsx
  tracehub/frontend/src/components/__tests__/CreateShipmentModal.test.tsx
  tracehub/frontend/src/components/__tests__/DocumentList.test.tsx
  tracehub/frontend/src/pages/Dashboard.tsx
  tracehub/frontend/src/pages/Shipment.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

docs: mark phases 1-3 complete in fix plan
  @fix_plan.md
Due: none

fix(build): align Document schema fields between backend and frontend
  tracehub/backend/app/schemas/document.py
  tracehub/frontend/src/components/DocumentReviewPanel.tsx
  tracehub/frontend/src/components/Layout.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

fix(test): update multi-tenancy positive test for SEC-001
  tracehub/backend/tests/test_multi_tenancy_positive.py
Due: pytest-backend

feat(scripts): add AI document processing and historic shipment scripts
  PRPs/active/PRP-ai-document-testing-historic-shipments.md
  PRPs/active/PRP-document-validation-rules-engine.md
  tracehub/backend/scripts/TEST_RESULTS_REPORT.md
  tracehub/backend/scripts/create_historic_shipments.py
  tracehub/backend/scripts/process_historic_documents.py
  tracehub/backend/scripts/test_ai_document_processing.py
  tracehub/backend/tests/test_deletion_fix.py
Due: pytest-backend

Path conditions:
  pytest-backend: any of: ^tracehub/backend/(app|tests)/.*\.py$
  vitest-frontend: any of: ^tracehub/frontend/src/.*\.(ts|tsx)$
