Repository sholaj/vibotaj-website-revamp-rep: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, vitest-frontend

pytest-backend:
  name: Run backend tests (on backend changes)
  entry: bash -c 'cd tracehub/backend && pytest tests/ -x --tb=short -q'
  language: system
  pass_filenames: false
  stages:
  - commit

vitest-frontend:
  name: Run frontend tests (on frontend changes)
  entry: bash -c 'cd tracehub/frontend && npm run test -- --run'
  language: system
  pass_filenames: false
  stages:
  - commit

fix(migration): use UPPERCASE values for orgrole enum
  tracehub/backend/alembic/versions/20260117_0001_backfill_organization_memberships.py
Due: none

fix(migration): use UPPERCASE for membershipstatus enum
  tracehub/backend/alembic/versions/20260117_0001_backfill_organization_memberships.py
Due: none

fix(api): accept override reason in request body instead of query param
  tracehub/backend/app/routers/document_validation.py
Due: pytest-backend

fix(migrations): make all migrations idempotent
  tracehub/backend/alembic/versions/20260117_0001_backfill_organization_memberships.py
  tracehub/backend/alembic/versions/20260117_0002_add_validation_override_fields.py
Due: none

fix(audit-pack): include uploaded documents in audit pack ZIP
  tracehub/backend/app/routers/documents.py
  tracehub/backend/app/schemas/document.py
  tracehub/backend/app/services/audit_pack.py
  tracehub/backend/app/services/file_utils.py
  tracehub/backend/tests/test_audit_pack.py
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/DocumentReviewPanel.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

feat(compliance): add product-specific BoL rules and enriched tracking
  tracehub/backend/app/schemas/bol.py
  tracehub/backend/app/services/bol_rules/compliance_rules.py
  tracehub/backend/app/services/bol_rules/engine.py
  tracehub/backend/app/services/jsoncargo.py
  tracehub/backend/tests/test_bol_product_rules.py
  tracehub/backend/tests/test_tracking_enriched.py
  tracehub/docs/PRP-REMEDIATION-GAP-ANALYSIS.md
Due: pytest-backend

fix(tests): set API key in tracking tests for CI compatibility
  tracehub/backend/tests/test_tracking_enriched.py
Due: pytest-backend

feat(validation): implement document validation & compliance enhancement (Phase 1-3)
  tracehub/backend/alembic/versions/20260118_0001_add_document_validation_fields.py
  tracehub/backend/app/models/__init__.py
  tracehub/backend/app/models/document.py
  tracehub/backend/app/routers/documents.py
  tracehub/backend/app/schemas/document_validation.py
  tracehub/backend/app/services/document_rules/cross_document_rules.py
  tracehub/backend/app/services/document_rules/presence_rules.py
  tracehub/backend/app/services/document_rules/registry.py
  tracehub/backend/app/services/revalidation_job.py
  tracehub/backend/tests/test_document_validation.py
  tracehub/backend/tests/test_validation_integration.py
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/DocumentReviewPanel.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

fix(migrations): correct down_revision to use revision ID not filename
  tracehub/backend/alembic/versions/20260118_0001_add_document_validation_fields.py
Due: none

fix(tests): update validation rules tests for enhanced presence rule
  tracehub/backend/tests/test_document_validation_rules.py
Due: pytest-backend

feat(users): implement user deletion with soft/hard delete modes
  tracehub/backend/alembic/versions/20260119_0001_add_user_deletion_fields.py
  tracehub/backend/app/models/user.py
  tracehub/backend/app/routers/auth.py
  tracehub/backend/app/routers/users.py
  tracehub/backend/app/schemas/user.py
  tracehub/backend/app/services/user_deletion.py
  tracehub/backend/tests/test_user_deletion.py
  tracehub/backend/tests/test_user_deletion_api.py
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/organizations/MemberManagementPanel.tsx
  tracehub/frontend/src/components/organizations/UserDeleteModal.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

fix(users): fix user deletion test failures
  tracehub/backend/app/routers/auth.py
  tracehub/backend/app/routers/users.py
  tracehub/backend/tests/test_user_deletion.py
  tracehub/backend/tests/test_users.py
Due: pytest-backend

fix(shipment): implement PRP-018 fixes for issues #31-#43
  PRPs/active/PRP-018-shipment-compliance-improvements.md
  tracehub/backend/alembic/versions/20260120_0001_container_number_optional.py
  tracehub/backend/app/models/shipment.py
  tracehub/backend/app/routers/documents.py
  tracehub/backend/app/routers/eudr.py
  tracehub/backend/app/schemas/shipment.py
  tracehub/backend/app/services/shipment_state_machine.py
  tracehub/backend/tests/test_container_validation.py
  tracehub/frontend/src/components/CreateShipmentModal.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

test(frontend): update CreateShipmentModal test for optional container (#41)
  tracehub/frontend/src/components/__tests__/CreateShipmentModal.test.tsx
Due: vitest-frontend

docs: mark PRP-018 as completed
  PRPs/completed/PRP-018-shipment-compliance-improvements.md
Due: none

feat(users): add delete user button to User Management page (PRP-019)
  PRPs/active/PRP-019-user-delete-button.md
  PRPs/active/PRP-audit-pack-documents-and-deletion.md
  PRPs/completed/PRP-document-validation-enhancements.md
  tracehub/PRPs/active/document-validation-enhancement.md
  tracehub/backend/tests/test_external_tester_guide.py
  tracehub/backend/uploads/01bdb0c8-2a0a-4d24-818e-124ead9bfa37/test_upload.pdf
  tracehub/backend/uploads/04c8a743-1664-4a91-b958-a2f6a215798b/test_upload.pdf
  tracehub/backend/uploads/10402371-4b0c-4edd-bf19-30c028f1d5c1/test_upload.pdf
  tracehub/backend/uploads/1684a132-55d3-4439-82d0-85e5a93663e1/test_upload.pdf
  tracehub/backend/uploads/1a69d40e-6fa9-476d-8ca3-c565325d3a46/test_upload.pdf
  tracehub/backend/uploads/2a1d6ba2-5a8c-43f0-a0be-8da4fd6ec034/test_upload.pdf
  tracehub/backend/uploads/36bec91e-e8b8-4a4c-8a66-37f40c357d14/test_upload.pdf
  tracehub/backend/uploads/5952801c-1f8e-417c-9c64-7536adfff55d/test_upload.pdf
  tracehub/backend/uploads/596ed572-99bc-4e98-94a3-6efaaa5c1885/test_upload.pdf
  tracehub/backend/uploads/807e8699-e7c6-4ea0-bb12-9f8b20687c44/test_upload.pdf
  tracehub/backend/uploads/c9c65c63-18ce-4ddf-b619-6b17b5f0ee6f/test_upload.pdf
  tracehub/backend/uploads/d97c1dbb-608b-48da-8e48-d7358f75f227/test_upload.pdf
  tracehub/backend/uploads/dfcc9e6e-515f-48f3-bfff-337797daa83b/test_upload.pdf
  tracehub/docs/screenshots/bol_compliance_panel.png
  tracehub/frontend/src/pages/Users.tsx
  tracehub/test-production-admin.mjs
  tracehub/test-production-backward-compat.mjs
  tracehub/test-production-hages.mjs
Due: pytest-backend, vitest-frontend

chore: move PRP-019 to completed
  PRPs/completed/PRP-019-user-delete-button.md
Due: none

feat(organizations): add delete organization functionality (PRP-020)
  PRPs/active/PRP-020-organization-delete-button.md
  tracehub/backend/app/routers/organizations.py
  tracehub/backend/app/schemas/organization.py
  tracehub/backend/tests/test_organizations.py
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/organizations/OrganizationDeleteModal.tsx
  tracehub/frontend/src/components/organizations/index.ts
  tracehub/frontend/src/pages/Organizations.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

feat: remove demo credentials from login page
  tracehub/backend/app/config.py
  tracehub/backend/app/routers/auth.py
  tracehub/frontend/src/pages/Login.tsx
Due: pytest-backend, vitest-frontend

docs: add Azure SaaS migration guide and Clerk integration guide
  docs/architecture/AZURE_SAAS_MIGRATION.md
  docs/architecture/CLERK_INTEGRATION_GUIDE.md
Due: none

docs: update migration guide to use Sentry instead of Azure App Insights
  docs/architecture/AZURE_SAAS_MIGRATION.md
Due: none

docs: add workflow and config migration appendices to Azure guide
  docs/architecture/AZURE_SAAS_MIGRATION.md
Due: none

docs: add comprehensive UI/UX design system for TraceHub
  docs/architecture/TRACEHUB_UI_DESIGN_SYSTEM.md
Due: none

docs: add comprehensive compliance engine specification
  docs/architecture/COMPLIANCE_ENGINE_SPECIFICATION.md
Due: none

docs: v2 project setup — CLAUDE.md, PLAN.md, rules, commands
  .claude/commands/code-review.md
  .claude/commands/deploy.md
  .claude/commands/fix-bug.md
  .claude/commands/fix-issue.md
  .claude/commands/generate-prp.md
  .claude/commands/new-feature.md
  .claude/commands/report.md
  .claude/commands/review.md
  .claude/commands/status.md
  .claude/commands/tdd.md
  .claude/rules/api-conventions.md
  .claude/rules/compliance.md
  .claude/rules/multi-tenancy.md
  .claude/rules/pydantic-patterns.md
  .claude/rules/security.md
  .claude/rules/testing.md
  .gitignore
  CLAUDE.md
  docs/PLAN.md
Due: none

docs: add Phase 1 PRD specifications (001-007)
  docs/PLAN.md
  docs/prds/001-nextjs-scaffold-vercel.md
  docs/prds/002-supabase-schema-rls.md
  docs/prds/003-propelauth-integration.md
  docs/prds/004-fastapi-railway.md
  docs/prds/005-supabase-storage.md
  docs/prds/006-sentry-integration.md
  docs/prds/007-openapi-heyapi-type-bridge.md
Due: none

docs: add PRD-008 v1 frontend → v2 infrastructure bridge
  docs/PLAN.md
  docs/prds/008-v1-frontend-v2-infra-bridge.md
Due: none

feat(frontend): PRD-001 Next.js 15 scaffold with Tailwind v4 + Shadcn UI
  v2/frontend/.env.example
  v2/frontend/.gitignore
  v2/frontend/.prettierrc
  v2/frontend/README.md
  v2/frontend/components.json
  v2/frontend/eslint.config.mjs
  v2/frontend/next.config.ts
  v2/frontend/package-lock.json
  v2/frontend/package.json
  v2/frontend/postcss.config.mjs
  v2/frontend/public/file.svg
  v2/frontend/src/app/favicon.ico
  v2/frontend/src/app/globals.css
  v2/frontend/src/app/layout.tsx
  v2/frontend/src/app/page.tsx
  v2/frontend/src/components/layout/app-sidebar.tsx
  v2/frontend/src/components/layout/header.tsx
  v2/frontend/src/components/layout/main-content.tsx
  v2/frontend/src/components/ui/badge.tsx
  v2/frontend/src/components/ui/button.tsx
  v2/frontend/src/components/ui/card.tsx
  v2/frontend/src/components/ui/input.tsx
  v2/frontend/src/components/ui/label.tsx
  v2/frontend/src/components/ui/separator.tsx
  v2/frontend/src/components/ui/sheet.tsx
  v2/frontend/src/components/ui/sidebar.tsx
  v2/frontend/src/components/ui/skeleton.tsx
  v2/frontend/src/components/ui/tooltip.tsx
  v2/frontend/src/hooks/use-mobile.ts
  v2/frontend/src/lib/utils.ts
  v2/frontend/tsconfig.json
  v2/frontend/vercel.json
Due: none

docs: mark PRD-001 done, update README with v2 migration status
  README.md
  docs/PLAN.md
  docs/prds/001-nextjs-scaffold-vercel.md
Due: none

feat(db): PRD-002 Supabase schema migration + RLS policies
  .gitignore
  README.md
  docs/PLAN.md
  docs/prds/002-supabase-schema-rls.md
  v2/supabase/config.toml
  v2/supabase/migrations/001_create_enums.sql
  v2/supabase/migrations/002_create_organizations.sql
  v2/supabase/migrations/003_create_users.sql
  v2/supabase/migrations/004_create_memberships_invitations.sql
  v2/supabase/migrations/005_create_shipments.sql
  v2/supabase/migrations/006_create_documents.sql
  v2/supabase/migrations/007_create_document_contents.sql
  v2/supabase/migrations/008_create_compliance_results.sql
  v2/supabase/migrations/009_create_events_notifications.sql
  v2/supabase/migrations/010_create_origins_products_registry_audit.sql
  v2/supabase/migrations/011_enable_rls.sql
  v2/supabase/migrations/012_create_indexes.sql
  v2/supabase/seed.sql
Due: none

feat(backend): PRD-004 FastAPI Railway deployment configuration
  tracehub/backend/Procfile
  tracehub/backend/app/config.py
  tracehub/backend/app/main.py
  tracehub/backend/app/middleware/__init__.py
  tracehub/backend/app/middleware/rls_context.py
  tracehub/backend/railway.toml
Due: pytest-backend

feat: PRD-006 Sentry integration for backend and frontend
  docs/PLAN.md
  docs/prds/004-fastapi-railway.md
  docs/prds/006-sentry-integration.md
  tracehub/backend/app/main.py
  tracehub/backend/app/middleware/error_handler.py
  tracehub/backend/app/sentry_setup.py
  tracehub/backend/requirements.txt
  v2/frontend/.env.example
  v2/frontend/next.config.ts
  v2/frontend/package-lock.json
  v2/frontend/package.json
  v2/frontend/sentry.client.config.ts
  v2/frontend/sentry.edge.config.ts
  v2/frontend/sentry.server.config.ts
  v2/frontend/src/app/error.tsx
  v2/frontend/src/app/global-error.tsx
Due: pytest-backend

feat: PRD-003 PropelAuth integration for v2 auth layer
  docs/PLAN.md
  docs/prds/003-propelauth-integration.md
  scripts/migrate_users_to_propelauth.py
  tracehub/backend/app/auth/__init__.py
  tracehub/backend/app/auth/org_permissions.py
  tracehub/backend/app/auth/permissions.py
  tracehub/backend/app/auth/propelauth.py
  tracehub/backend/app/auth/role_adapter.py
  tracehub/backend/app/config.py
  tracehub/backend/app/main.py
  tracehub/backend/requirements.txt
  v2/frontend/.env.example
  v2/frontend/package-lock.json
  v2/frontend/package.json
  v2/frontend/src/app/api/auth/[slug]/route.ts
  v2/frontend/src/app/layout.tsx
  v2/frontend/src/lib/auth/hooks.ts
  v2/frontend/src/lib/auth/provider.tsx
  v2/frontend/src/middleware.ts
Due: pytest-backend

feat: PRD-005 Supabase Storage for document file management
  scripts/migrate_files_to_supabase.py
  tracehub/backend/.env.example
  tracehub/backend/app/config.py
  tracehub/backend/app/services/local_storage.py
  tracehub/backend/app/services/storage.py
  tracehub/backend/app/services/storage_factory.py
  tracehub/backend/app/services/supabase_storage.py
  tracehub/backend/requirements.txt
  v2/supabase/migrations/013_create_storage_buckets.sql
Due: pytest-backend

feat: PRD-007 OpenAPI → Hey API type bridge + React Query integration
  .github/workflows/generate-api-client.yml
  v2/frontend/openapi-ts.config.ts
  v2/frontend/package-lock.json
  v2/frontend/package.json
  v2/frontend/src/app/layout.tsx
  v2/frontend/src/lib/api/client.ts
  v2/frontend/src/lib/api/hooks/index.ts
  v2/frontend/src/lib/api/hooks/use-documents.ts
  v2/frontend/src/lib/api/hooks/use-organizations.ts
  v2/frontend/src/lib/api/hooks/use-shipments.ts
  v2/frontend/src/lib/api/query-provider.tsx
Due: none

docs: mark PRD-005 and PRD-007 done in PLAN.md
  docs/PLAN.md
Due: none

feat: PRD-008 v1 frontend → v2 infrastructure bridge
  tracehub/frontend/.env.example
  tracehub/frontend/package-lock.json
  tracehub/frontend/package.json
  tracehub/frontend/src/App.tsx
  tracehub/frontend/src/api/auth-bridge.ts
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/DocumentReviewPanel.tsx
  tracehub/frontend/src/components/EUDRStatusCard.tsx
  tracehub/frontend/src/contexts/AuthContext.tsx
  tracehub/frontend/src/main.tsx
  tracehub/frontend/src/pages/Shipment.tsx
  tracehub/frontend/vercel.json
Due: vitest-frontend

docs: mark PRD-008 done, Phase 1 complete
  docs/PLAN.md
Due: none

docs: mark PRD-009 done, Phase 2 in progress
  docs/PLAN.md
Due: none

Path conditions:
  pytest-backend: any of: ^tracehub/backend/(app|tests)/.*\.py$
  vitest-frontend: any of: ^tracehub/frontend/src/.*\.(ts|tsx)$
