Repository sholaj/vibotaj-website-revamp-rep: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, vitest-frontend

pytest-backend:
  name: Run backend tests (on backend changes)
  entry: bash -c 'cd tracehub/backend && pytest tests/ -x --tb=short -q'
  language: system
  pass_filenames: false
  stages:
  - commit

vitest-frontend:
  name: Run frontend tests (on frontend changes)
  entry: bash -c 'cd tracehub/frontend && npm run test -- --run'
  language: system
  pass_filenames: false
  stages:
  - commit

fix(ci): Fix database connection and migration issues in CI
  tracehub/backend/alembic/versions/20260106_0012_fix_container_events_schema.py
  tracehub/backend/tests/conftest.py
Due: pytest-backend

ci: enable CI/CD workflows to run on feature branches
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/integration-tests.yml
Due: none

feat(e2e): Add Playwright E2E tests with session management
  tracehub/frontend/e2e/README.md
  tracehub/frontend/e2e/admin.spec.ts
  tracehub/frontend/e2e/buyer-supplier-viewer.spec.ts
  tracehub/frontend/e2e/compliance.spec.ts
  tracehub/frontend/e2e/helpers.ts
  tracehub/frontend/e2e/logistics.spec.ts
  tracehub/frontend/playwright.config.ts
Due: none

fix(test): Exclude E2E tests from Vitest runner
  tracehub/frontend/vitest.config.ts
Due: none

fix(staging): Add database seeding to deployment and HAGES users
  .github/workflows/deploy-staging.yml
  tracehub/backend/seed_data.py
Due: none

fix(startup): Add auto-seed on startup for empty databases
  tracehub/backend/app/main.py
Due: pytest-backend

fix(deps): Pin bcrypt<4.1.0 for passlib compatibility
  tracehub/backend/requirements.txt
Due: none

fix(staging): Add FORCE_RESEED for staging user refresh
  .github/workflows/deploy-staging.yml
  tracehub/backend/seed_data.py
Due: none

fix(auth): Use raw bcrypt for password hashing in seed_data.py
  tracehub/backend/seed_data.py
Due: none

fix(seed): Use separate sessions to prevent user rollback on sample data failure
  tracehub/backend/seed_data.py
Due: none

debug(seed): Add logging to verify password hash generation
  tracehub/backend/seed_data.py
Due: none

debug(auth): Add user check endpoint for staging debugging
  tracehub/backend/app/routers/auth.py
Due: pytest-backend

fix(config): Add environment setting for staging detection
  tracehub/backend/app/config.py
Due: pytest-backend

debug(auth): Make user check endpoint work on non-production envs
  tracehub/backend/app/routers/auth.py
Due: pytest-backend

debug(auth): Add simple ping endpoint to verify route loading
  tracehub/backend/app/routers/auth.py
Due: pytest-backend

debug(auth): Add detailed login debugging to trace authentication
  tracehub/backend/app/routers/auth.py
Due: pytest-backend

chore: restore viewer role, seed viewer user, and update E2E tests
  E2E_REFERENCE_CARD.md
  E2E_TESTING_FILE_INVENTORY.md
  E2E_TESTING_SETUP_SUMMARY.md
  E2E_TEST_PLAN.md
  PLAYWRIGHT_E2E_ARCHITECTURE.md
  STAGING_LOGIN_DEBUG_REPORT.md
  TRACEHUB_E2E_QUICK_START.md
  tracehub/LOCAL_BUILD_SETUP.md
  tracehub/backend/app/routers/auth.py
  tracehub/backend/seed_data.py
  tracehub/backend/tests/test_auth_fixes.py
  tracehub/frontend/.gitignore
  tracehub/frontend/Dockerfile
  tracehub/frontend/e2e/buyer-supplier-viewer.spec.ts
  tracehub/frontend/e2e/helpers.ts
  tracehub/frontend/e2e/login-smoke.spec.ts
  tracehub/frontend/nginx.dev.conf
  tracehub/frontend/package-lock.json
  tracehub/frontend/package.json
Due: pytest-backend

test(ci): disable rate limiting during CI/tests to avoid 429s
  tracehub/backend/app/middleware/rate_limit.py
Due: pytest-backend

fix: add schema verification and corrective migrations for staging
  CHANGELOG.md
  tracehub/backend/alembic/versions/20260108_0003_extend_document_status.py
  tracehub/backend/alembic/versions/20260108_0004_add_missing_document_file_size.py
  tracehub/backend/scripts/check_schema.py
  tracehub/scripts/deploy.sh
Due: none

ci(staging): add optional reset_db input to drop staging DB volume before migrations
  .github/workflows/deploy-staging.yml
Due: none

seed: when FORCE_RESEED is true, wipe shipment-related data before seeding so staging matches local sample data
  tracehub/backend/seed_data.py
Due: none

docs: add user management guide, E2E tests, and verification script
  tracehub/docs/USER_MANAGEMENT_GUIDE.md
  tracehub/frontend/e2e/user-management.spec.ts
  tracehub/scripts/test_user_crud.sh
Due: none

docs: add user management investigation summary
  USER_MANAGEMENT_INVESTIGATION.md
Due: none

migrations: fix numbering and dependency chain for document status and file_size
  tracehub/backend/alembic/versions/20260108_0013_extend_document_status.py
  tracehub/backend/alembic/versions/20260108_0014_add_missing_document_file_size.py
Due: none

ci: verify admin password after seeding on staging
  .github/workflows/deploy-staging.yml
Due: none

fix: Sync shipment status with live tracking data
  .github/copilot-instructions.md
  USER_MANAGEMENT_INVESTIGATION.md
  tracehub/TraceHub_Sprint8_Multi_Tenancy_Task_Request.docx
  tracehub/backend/alembic/versions/20260109_0001_baseline_reset.py
  tracehub/backend/alembic/versions_archive/20260103_0001_001_initial_schema.py
  tracehub/backend/alembic/versions_archive/20260105_0002_add_document_types.py
  tracehub/backend/alembic/versions_archive/20260106_0003_create_multitenancy_tables.py
  tracehub/backend/alembic/versions_archive/20260106_0004_add_organization_id_columns.py
  tracehub/backend/alembic/versions_archive/20260106_0005_migrate_data_to_vibotaj_org.py
  tracehub/backend/alembic/versions_archive/20260106_0006_add_multitenancy_constraints.py
  tracehub/backend/alembic/versions_archive/20260106_0007_make_audit_logs_org_nullable.py
  tracehub/backend/alembic/versions_archive/20260106_0008_create_hages_organization.py
  tracehub/backend/alembic/versions_archive/20260106_0009_add_missing_shipment_columns.py
  tracehub/backend/alembic/versions_archive/20260106_0010_add_remaining_columns.py
  tracehub/backend/alembic/versions_archive/20260106_0011_add_products_columns.py
  tracehub/backend/alembic/versions_archive/20260106_0012_fix_container_events_schema.py
  tracehub/backend/alembic/versions_archive/20260108_0013_extend_document_status.py
  tracehub/backend/alembic/versions_archive/20260108_0014_add_missing_document_file_size.py
  tracehub/backend/app/routers/tracking.py
  tracehub/backend/seed_data.py
Due: pytest-backend

fix: Improve status string mapping for live tracking
  tracehub/backend/app/routers/tracking.py
Due: pytest-backend

feat: org-scoped permissions and guards - system+org context, auth payload enrichment, composable guards
  tracehub/.env.example
  tracehub/backend/app/middleware/rate_limit.py
  tracehub/backend/app/routers/auth.py
  tracehub/backend/app/schemas/user.py
  tracehub/docker-compose.yml
  tracehub/frontend/src/contexts/AuthContext.tsx
  tracehub/frontend/src/types/index.ts
  tracehub/frontend/src/types/organization.ts
  tracehub/frontend/src/utils/guards.ts
Due: pytest-backend, vitest-frontend

fix(auth): correct org_role attribute access in get_current_active_user
  tracehub/CHANGELOG.md
  tracehub/backend/app/routers/auth.py
  tracehub/frontend/e2e/README.md
  tracehub/frontend/e2e/logistics.spec.ts
  tracehub/frontend/e2e/user-management.spec.ts
Due: pytest-backend

fix(e2e): update UI selectors for 100% test pass rate
  tracehub/CHANGELOG.md
  tracehub/frontend/e2e/admin.spec.ts
  tracehub/frontend/e2e/buyer-supplier-viewer.spec.ts
  tracehub/frontend/e2e/compliance.spec.ts
  tracehub/frontend/e2e/helpers.ts
  tracehub/frontend/e2e/logistics.spec.ts
  tracehub/frontend/e2e/user-management.spec.ts
Due: none

feat(shipments): add buyer_organization_id field for buyer linking
  PRPs/active/PRP-shipment-creation.md
  tracehub/backend/alembic/versions/20260109_0002_add_buyer_organization_id.py
  tracehub/backend/app/models/organization.py
  tracehub/backend/app/models/shipment.py
  tracehub/backend/tests/test_shipment_buyer_org.py
Due: pytest-backend

feat(validation): add ISO 6346 container number validation
  tracehub/backend/app/schemas/shipment.py
  tracehub/backend/tests/test_container_validation.py
Due: pytest-backend

feat(api): add GET /organizations/buyers endpoint
  tracehub/backend/app/main.py
  tracehub/backend/app/routers/__init__.py
  tracehub/backend/app/routers/organizations.py
  tracehub/backend/tests/test_buyer_organizations.py
Due: pytest-backend

feat(shipments): add buyer_organization_id to shipment creation
  tracehub/backend/app/routers/shipments.py
  tracehub/backend/app/schemas/shipment.py
  tracehub/backend/tests/test_shipment_creation_buyer.py
Due: pytest-backend

feat(frontend): add shipment creation types and API methods
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/types/index.ts
Due: vitest-frontend

feat(frontend): add CreateShipmentModal component with tests
  tracehub/frontend/src/components/CreateShipmentModal.tsx
  tracehub/frontend/src/components/__tests__/CreateShipmentModal.test.tsx
Due: vitest-frontend

feat(frontend): integrate CreateShipmentModal in Dashboard
  tracehub/frontend/src/pages/Dashboard.tsx
  tracehub/frontend/src/types/index.ts
Due: vitest-frontend

feat(organizations): add organization management UI and API
  tracehub/backend/app/routers/organizations.py
  tracehub/backend/app/routers/users.py
  tracehub/backend/app/schemas/user.py
  tracehub/frontend/src/App.tsx
  tracehub/frontend/src/api/client.ts
  tracehub/frontend/src/components/Layout.tsx
  tracehub/frontend/src/pages/Organizations.tsx
  tracehub/frontend/src/pages/Users.tsx
  tracehub/frontend/src/types/index.ts
Due: pytest-backend, vitest-frontend

test(organizations): add API endpoint tests for organization management
  tracehub/backend/app/routers/organizations.py
  tracehub/backend/tests/test_organizations.py
Due: pytest-backend

Path conditions:
  pytest-backend: any of: ^tracehub/backend/(app|tests)/.*\.py$
  vitest-frontend: any of: ^tracehub/frontend/src/.*\.(ts|tsx)$
